[submodule "themes/starter-academic"]
	path = themes/starter-academic
	url = https://github.com/wowchemy/starter-academic.git
[submodule "public"]
	path = public
	url = https://github.com/deval-maker/deval-maker.github.io.git
